In [21]:
import numpy as np
import pandas as pd

<h2>Pierwszy skrypt</h2>
pierwsza próba użycia **Datalore notebook** <strong><cite>użycie pandas<cite></strong>

In [22]:
data = {
    'jabłko':[3,4,0,2],
    'pomarańcza':[2,10,1,2],
    'borówka':[3,2,2,0],
    'winogrono':[1,0.3,0.1,0.8]
}

In [23]:
pur = pd.DataFrame(data)
pur

,jabłko,pomarańcza,borówka,winogrono
0,3,2,3,1.0
1,4,10,2,0.3
2,0,1,2,0.1
3,2,2,0,0.8

In [24]:
pur = pd.DataFrame(data,index=['Olek','Dalia','Tadeusz','Ania'])
pur

,jabłko,pomarańcza,borówka,winogrono
Olek,3,2,3,1.0
Dalia,4,10,2,0.3
Tadeusz,0,1,2,0.1
Ania,2,2,0,0.8

In [25]:
pur.loc['Olek']

In [26]:
pur.to_csv('owoce.csv')
pur.to_xml('owoce.xml')

In [27]:
df1 = pd.read_csv('owoce.csv')
df1

,Unnamed: 0,jabłko,pomarańcza,borówka,winogrono
0,Olek,3,2,3,1.0
1,Dalia,4,10,2,0.3
2,Tadeusz,0,1,2,0.1
3,Ania,2,2,0,0.8

In [28]:
unsorted_df = pd.DataFrame(np.random.randn(13,3),index=[1,4,6,2,3,5,9,8,0,7,10,11,12],columns=['b','a','c'])
unsorted_df

,b,a,c
1,0.623473,-0.958087,0.227466
4,-0.304627,1.653522,1.002207
6,0.508329,-2.802690,0.240632
2,-0.144204,-0.952385,0.564525
3,0.008247,0.292579,-0.940571
5,0.255386,0.823111,-0.754449
9,0.598335,-0.125887,-0.646610
8,1.176822,-0.369576,-0.298120
0,-0.482413,-2.217021,0.865950
7,0.515418,1.906527,-1.048191
10,0.612419,0.766927,0.228915
11,0.756681,0.769825,-1.560378
12,1.894365,2.073700,-0.298776

In [29]:
sorted_df = unsorted_df.sort_index()
sorted_df

,b,a,c
0,-0.482413,-2.217021,0.865950
1,0.623473,-0.958087,0.227466
2,-0.144204,-0.952385,0.564525
3,0.008247,0.292579,-0.940571
4,-0.304627,1.653522,1.002207
5,0.255386,0.823111,-0.754449
6,0.508329,-2.802690,0.240632
7,0.515418,1.906527,-1.048191
8,1.176822,-0.369576,-0.298120
9,0.598335,-0.125887,-0.646610
10,0.612419,0.766927,0.228915
11,0.756681,0.769825,-1.560378
12,1.894365,2.073700,-0.298776

In [30]:
sorted_df = unsorted_df.sort_index(ascending=False)
sorted_df

,b,a,c
12,1.894365,2.073700,-0.298776
11,0.756681,0.769825,-1.560378
10,0.612419,0.766927,0.228915
9,0.598335,-0.125887,-0.646610
8,1.176822,-0.369576,-0.298120
7,0.515418,1.906527,-1.048191
6,0.508329,-2.802690,0.240632
5,0.255386,0.823111,-0.754449
4,-0.304627,1.653522,1.002207
3,0.008247,0.292579,-0.940571
2,-0.144204,-0.952385,0.564525
1,0.623473,-0.958087,0.227466
0,-0.482413,-2.217021,0.865950

In [31]:
sorted_df = unsorted_df.sort_index(axis=1)
sorted_df

,a,b,c
1,-0.958087,0.623473,0.227466
4,1.653522,-0.304627,1.002207
6,-2.802690,0.508329,0.240632
2,-0.952385,-0.144204,0.564525
3,0.292579,0.008247,-0.940571
5,0.823111,0.255386,-0.754449
9,-0.125887,0.598335,-0.646610
8,-0.369576,1.176822,-0.298120
0,-2.217021,-0.482413,0.865950
7,1.906527,0.515418,-1.048191
10,0.766927,0.612419,0.228915
11,0.769825,0.756681,-1.560378
12,2.073700,1.894365,-0.298776

In [32]:
sorted_df = unsorted_df.sort_values(by='a',ascending=False)
sorted_df

,b,a,c
12,1.894365,2.073700,-0.298776
7,0.515418,1.906527,-1.048191
4,-0.304627,1.653522,1.002207
5,0.255386,0.823111,-0.754449
11,0.756681,0.769825,-1.560378
10,0.612419,0.766927,0.228915
3,0.008247,0.292579,-0.940571
9,0.598335,-0.125887,-0.646610
8,1.176822,-0.369576,-0.298120
2,-0.144204,-0.952385,0.564525
1,0.623473,-0.958087,0.227466
0,-0.482413,-2.217021,0.865950
6,0.508329,-2.802690,0.240632

In [33]:
def policz(a,b):
    return a*(b-2)

In [34]:
policz(3,6.6)

13.799999999999999